flask
twilio
langchain
langchain-google-genai
langchain-qdrant
google-generativeai
qdrant-client
gunicorn
langchain-groq
flask
twilio
psycopg2-binary
langchain
langchain-google-genai
langchain-qdrant
